.main-cont {
  background-color: rgba(252, 230, 234, 0.76);
  position: relative;
  width: 100%;
  height: 120vh;
}
.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 230px;
  background-color: rgb(253, 249, 244);
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(168, 133, 133, 0.39);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 200;
  transition: all 0.4s ease;
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  cursor: pointer;
}
.container:hover {
  z-index: 2000;
  transform: scaleY(1.05);
}
.profile {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 10px;
  margin: 15px 15px;
}
.profile .pic {
  background-color: rgb(215, 241, 250);
  padding: 15px 15px;
  border-radius: 50%;
}
.profile .pic img {
  width: 25px;
}
.profile .info h1 {
  font-size: 20px;
}
.profile .info p {
  font-size: 15px;
  margin-bottom: 0;
}
.score {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}
.score .txt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.score .txt p {
  color: gray;
  margin: 0 0 5px 0;
}
.score .txt h5 {
  color: rgb(0, 151, 0);
  margin: 0 0 5px 0;
}
.progress-bar {
  width: 470px;
  background-color: lightgrey;
  height: 10px;
  border-radius: 10px;
  position: relative;
}
.progress-bar::before {
  content: "";
  background-color: rgb(0, 151, 0);
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 78%;
  border-radius: 10px;
}
.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 15px;
  align-items: center;
}
.skill {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.skill .item p {
  margin: 0;
  background-color: rgba(233, 233, 233, 0.712);
  padding: 5px 5px;
  border-radius: 15px;
  font-size: 14px;
  text-transform: capitalize;
}
.post p {
  margin: 0;
  font-size: 15px;
  color: gray;
  text-transform: capitalize;
}
@keyframes move {
  0% {
    transform: translate(0, 5%);
  }
  20% {
    transform: translate(0, 10%);
  }
  40% {
    transform: translate(0, 15%);
  }
  60% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(0, 5%);
  }
  100% {
    transform: translate(0);
  }
}

/*second*/

.container2 {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 280px;
  background-color: rgb(253, 249, 244);
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(168, 133, 133, 0.39);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  z-index: 150;
  top: 30%;
  left: 20%;
  animation-name: move;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: all 0.4s ease;
  cursor: pointer;
}

.container2:hover {
  z-index: 2000;
  transform: scale(1.5);
}
.container2 .progress-bar {
  width: 370px;
  background-color: lightgrey;
  height: 10px;
  border-radius: 10px;
  position: relative;
}
.container2 .progress-bar::before {
  content: "";
  background-color: rgb(219, 0, 0);
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 35%;
  border-radius: 10px;
}
.container2 .score .txt h5 {
  color: rgb(219, 0, 0);
  margin: 0 0 5px 0;
}
.container2 .profile .pic {
  background-color: rgba(253, 226, 226, 0.808);
  padding: 15px 15px;
  border-radius: 50%;
}
.container2 .skill {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.container2 .item {
  width: fit-content;
}

/*third*/
.container3 {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 250px;
  background-color: rgb(253, 249, 244);
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(168, 133, 133, 0.39);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  z-index: 100;
  top: 60%;
  left: 15%;
  animation-name: move;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: all 0.4s ease;
  cursor: pointer;
}
.container3:hover {
  z-index: 2000;
  transform: scale(1.5);
}
.container3 .progress-bar {
  width: 370px;
  background-color: lightgrey;
  height: 10px;
  border-radius: 10px;
  position: relative;
}
.container3 .progress-bar::before {
  content: "";
  background-color: rgb(0, 151, 0);
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 65%;
  border-radius: 10px;
}
.container3 .skill {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  width: 150px;
}
/*fourth*/
.container4 {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 280px;
  background-color: rgb(253, 249, 244);
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(168, 133, 133, 0.39);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 60%;
  animation-name: move;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: all 0.4s ease;
  cursor: pointer;
}
.container4:hover {
  z-index: 2000;
  transform: scale(1.5);
}
.container4 .skill {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  width: 200px;
}
.container4 .progress-bar {
  width: 290px;
  background-color: lightgrey;
  height: 10px;
  border-radius: 10px;
  position: relative;
}
.container4 .progress-bar::before {
  content: "";
  background-color: rgb(43, 92, 250);
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 52%;
  border-radius: 10px;
}
.container4 .score .txt h5 {
  color: rgb(43, 92, 250);
  margin: 0 0 5px 0;
}
.container4 .profile .info h1 {
  font-size: 19px;
}
/*5th*/
.container5 {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 290px;
  background-color: rgb(253, 249, 244);
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(168, 133, 133, 0.39);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  top: 40%;
  left: 55%;
  animation-name: move;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: all 0.4s ease;
  cursor: pointer;
}
.container5:hover {
  z-index: 2000;
  transform: scale(1.5);
}
.container5 .skill {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  width: 130px;
}
.container5 .progress-bar {
  width: 250px;
  background-color: lightgrey;
  height: 10px;
  border-radius: 10px;
  position: relative;
}
.container5 .profile .info h1 {
  font-size: 19px;
}
/*6th*/
.container6 {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 240px;
  background-color: rgb(253, 249, 244);
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(168, 133, 133, 0.39);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  top: 55%;
  left: 60%;
  animation-name: move;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: all 0.4s ease;
  cursor: pointer;
}
.container6:hover {
  z-index: 2000;
  transform: scale(1.5);
}
.container6 .progress-bar {
  width: 346px;
  background-color: lightgrey;
  height: 10px;
  border-radius: 10px;
  position: relative;
}
.container6 .progress-bar::before {
  content: "";
  background-color: rgb(43, 92, 250);
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 48%;
  border-radius: 10px;
}
.container6 .score .txt h5 {
  color: rgb(43, 92, 250);
  margin: 0 0 5px 0;
}
.container6 .profile .info h1 {
  font-size: 19px;
}
/*search */
.serch-cont {
  background-color: rgb(255, 255, 249);
  width: 30%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 0 20px;
  position: absolute;
  top: 5%;
  left: 30%;
  z-index: 1000;
}
.search-bar {
  background-color: white;
  padding: 10px 10px;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-bar:focus {
  border: 2px solid blue;
}
.search-bar input {
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: rgb(75, 75, 75);
}
.search-bar input:focus {
  outline: none;
}
.search-bar img {
  width: 20px;
  padding-right: 10px;
}
button {
  width: 100%;
  color: white;
  background-image: linear-gradient(
    to right,
    rgb(85, 50, 212),
    rgb(180, 50, 212),
    rgb(219, 77, 20)
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: none;
  border-radius: 30px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 550;
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.616);
  transition: all 0.3s ease-in-out;
  animation-name: btn-col;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-size: 300% 100%;
}
button:hover {
  transform: scale(1.06);
  box-shadow: 5px 15px 15px rgba(128, 128, 128, 0.39);
}
button img {
  width: 20px;
  padding-left: 10px;
}
@keyframes btn-col {
  0% {
    background-position: 0% 35%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.bot-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bot-search p {
  color: rgb(129, 128, 128);
  font-size: 17px;
}
.searches {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding-bottom: 20px;
}
.searches .tag p {
  background-color: gainsboro;
  margin: 0;
  padding: 10px 15px;
  border-radius: 30px;
  cursor: pointer;
  color: black;
  transition: all 0.3s ease;
}
.searches .tag p:hover {
  color: rgb(88, 88, 219);
}
