.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 230px;
  background-color: rgb(253, 249, 244);
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(168, 133, 133, 0.39);
}
.profile {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 10px;
  margin: 15px 15px;
}
.profile .pic {
  background-color: rgb(215, 241, 250);
  padding: 15px 15px;
  border-radius: 50%;
}
.profile .pic img {
  width: 25px;
}
.profile .info h1 {
  font-size: 23px;
}
.profile .info p {
  font-size: 15px;
  margin-bottom: 0;
}
.score {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}
.score .txt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.score .txt p {
  color: gray;
  margin: 0 0 5px 0;
}
.score .txt h5 {
  color: rgb(0, 151, 0);
  margin: 0 0 5px 0;
}
.progress-bar {
  width: 460px;
  background-color: lightgrey;
  height: 10px;
  border-radius: 10px;
  position: relative;
}
.progress-bar::before {
  content: "";
  background-color: rgb(0, 151, 0);
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 78%;
  border-radius: 10px;
}
.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 15px;
}
.skill {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.skill .item p {
  margin: 0;
  background-color: rgba(233, 233, 233, 0.712);
  padding: 5px 5px;
  border-radius: 15px;
  font-size: 14px;
  text-transform: capitalize;
}
.post p {
  margin: 0;
  font-size: 15px;
  color: gray;
  text-transform: capitalize;
}
